* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: #020617;
  color: #e5e7eb;
}

header {
  padding: 16px;
  background: #020617;
  border-bottom: 1px solid #022c22;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#saldo {
  font-size: 18px;
  font-weight: bold;
}

main {
  padding: 16px;
  display: grid;
  gap: 16px;
}

.card {
  background: #020617;
  border: 1px solid #022c22;
  border-radius: 16px;
  padding: 16px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 10px;
  border: none;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #022c22;
}

button {
  background: #22c55e;
  color: #022c22;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: .9;
}

.positive { color: #22c55e; }
.negative { color: #ef4444; }

/* INSIGHT */
.insight {
  padding: 12px;
  background: #022c22;
  border-radius: 12px;
  color: #22c55e;
}

/* PROGRESS */
.progress {
  background: #022c22;
  height: 10px;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

#progressFill {
  height: 100%;
  width: 0%;
  background: #22c55e;
}

/* RIWAYAT */
#history {
  list-style: none;
  padding: 0;
}

.date-group {
  margin: 16px 0 6px;
  color: #22c55e;
  font-size: 13px;
}

#history li {
  background: #020617;
  border: 1px solid #022c22;
  border-radius: 14px;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tx-note {
  font-size: 14px;
}

.tx-amount {
  font-weight: bold;
}

.tx-delete {
  background: transparent;
  border: none;
  color: #64748b;
  cursor: pointer;
}

.tx-delete:hover {
  color: #ef4444;
}

footer {
  text-align: center;
  padding: 12px;
  font-size: 12px;
  color: #64748b;
}
